body {
    padding: 0;
    margin: 0;
  }
  html, body, #map {
    height: 100%;
  }
  .quiz{
    font: 14px Arial, Helvetica, sans-serif;
    background: white; 
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
  }
  .quiz h4{
    text-align: left;
    color: #000000;
    position: relative;
  }
  .quiz #textquiz1{
    text-align: center;
    font-size: 16px;
    align-content: center;
    color: #000000;
    
  }
  .quiz #submitquiz4{
    text-align: center;
    font-size: 16px;
    background: red border-box; 
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    align-content: center;
    position: relative;
    left: 1%;
  }
  .quiz #imagens1{
   position: relative;
  }
 .quiz #numero{
   position: relative;  
 }
  .legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white; 
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
  }
  .legend h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #000000;
  }
  .legend span {
    position: relative;
    bottom: 3px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
  }
  
  .legend i.icon {
    background-size: 18px;
    background-color: rgba(255, 255, 255, 1);
  }
  .link{
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
  }
    
  .link h4 {
    text-align: center;
    font-size: 16px;
    margin: 2px 12px 8px;
    color: #777;
  }
  .link span {
    position: relative;
    bottom: 3px;
  }
.legend img {
  cursor: pointer;
}
.audio{
  font: 14px Arial, Helvetica, sans-serif;
    background: white; 
    background: rgba(255, 255, 255, 0.8);
    line-height: 24px;
    color: #555;
    left: 5%;
    margin-left: 1;
    bottom: 
}
.audio img{
  cursor: pointer;
  position: relative;
}